body {
  background-color: #345423;
  font-family: Arial;
}
h1, h2, h3, h4, h5, h6 {
  color: lime;
  text-align: center;
}
p, a {
  color: lime;
}
.larger-size {
  font-size: 20px;
}
.nav {
  overflow: hidden;
  background-color: lime;
  font-family: Arial;
}
.nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: lime;
  font-family: Arial;
  margin: 0;
}
.nav a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #00b300;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lime;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #00b300;
}
.show {
  display: block;
}
